# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/

# Environments
venv/
.venv/
env/
.env

# Tests
.pytest_cache/
.coverage

# Editor and IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Distribution and packaging
dist/
build/

*/__pycache__/
